<div>
  <div>
    <h1>
      Number of records in the system
    </h1>
  </div>
</div>

<hr>

<div> 
Clients: <%=@client_count%>
</div>
<div> 
Engagements: <%=@engagement_count%>
</div>
<div> 
Tasks: <%=@task_count%>
</div>